.storyCard {
  background-size: cover;
  height: 150px;
  width: 110px;
  border-radius: 8px;
  position: relative;

  h6 {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: white;
    font-size: 12px;
  }
}
