.header {
  margin-top: 2em;
  text-align: center;

  h2 {
    small {
      font-weight: 300;
      color: #989899;
    }
    margin-bottom: 0;
  }
  p {
    font-size: 0.8em;
    color: #767676;
  }
  button {
    background-color: #2c2c2d;
    padding: 5px 25px 5px 5px;
    border-radius: 5px;
    color: #989899;
    font-size: 0.8em;

    max-width: 130px;

    box-sizing: border-box;

    div {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  button:after {
    content: '';
  }
}
